Si Ã¨ provveduto alla correzione delle coordinate delle stazioni Gela Pontile e Augusta Villa Augusta direttamente nel file. Le coordinate presenti erano 0 e questo le esclude dalla query che facciamo per estrarre le stazioni presenti nel quadrante 4.

Installazione librerie

In [1]:
!pip install pandas==1.2.4 dnspython==2.1.0 pymongo==3.12.1

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas==1.2.4 in /Users/anoir.boudoudouh/Library/Python/3.8/lib/python/site-packages (1.2.4)
Requirement already satisfied: dnspython==2.1.0 in /Users/anoir.boudoudouh/Library/Python/3.8/lib/python/site-packages (2.1.0)
Requirement already satisfied: pymongo==3.12.1 in /Users/anoir.boudoudouh/Library/Python/3.8/lib/python/site-packages (3.12.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/anoir.boudoudouh/Library/Python/3.8/lib/python/site-packages (from pandas==1.2.4) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/anoir.boudoudouh/Library/Python/3.8/lib/python/site-packages (from pandas==1.2.4) (2021.3)
Requirement already satisfied: numpy>=1.16.5 in /Users/anoir.boudoudouh/Library/Python/3.8/lib/python/site-packages (from pandas==1.2.4) (1.21.4)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas==1.2.4) (1.15.0)
WARNING: You are using pip version 21.3; however, version 21.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

Import

In [2]:
import datetime
import pymongo
import pandas as pd
import json

Connessione al DB

In [3]:
client = pymongo.MongoClient("mongodb+srv://nosql:nosql@cluster0.v4pfc.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.progetto

Dropping all the old data

In [4]:
collectionList = db.list_collection_names()

if "stazione" in collectionList:
    db.stazione.drop()

if "inquinante" in collectionList:
    db.inquinante.drop()

if "a2018" in collectionList:
    db.a2018.drop()

if "a2019" in collectionList:
    db.a2019.drop()

Creiamo e popoliamo la collezione stazioni

In [5]:
with open('data_to_load_in_db/arpa-qualita-aria-anagrafica-stazioni_json.json',) as f:
    data = json.load(f)
    db.stazione.insert_many(data)

Creiamo e popoliamo la collezione inquinanti

In [6]:
with open('data_to_load_in_db/arpa-qualita-aria-anagrafica-inquinanti_json.json',) as f:
    data = json.load(f)
    db.inquinante.insert_many(data)

In [7]:
with open('data_to_load_in_db/arpa-qualita-aria-2018-PM2_5.json',) as pm2_5:
    with open('data_to_load_in_db/arpa-qualita-aria-2018-PM10.json',) as pm10:
        pm25Data = json.load(pm2_5)
        pm10Data = json.load(pm10)
        data = pm25Data + pm10Data

        db.a2018.insert_many(data)

In [8]:
with open('data_to_load_in_db/arpa-qualita-aria-2019-PM2_5.json',) as pm2_5:
    with open('data_to_load_in_db/arpa-qualita-aria-2019-PM10.json',) as pm10:
        pm25Data = json.load(pm2_5)
        pm10Data = json.load(pm10)
        data = pm25Data + pm10Data

        db.a2019.insert_many(data)

In [9]:
lat = 37.30
long = 14 

station = []

stationCursor = db.stazione.aggregate(
    [
        {
            '$match': {
                'stazione_longitudine': { '$gte' : long} ,
                'stazione_latitudine': { '$lte' : lat} 
            }
        },
    ]
)

station = [s for s in stationCursor]

pd.DataFrame(station)

,_id,stazione_id,zone_id,stazione_nome,stazione_latitudine,stazione_longitudine
0,61991a7e0d5cc17c57670048,1908801,IT1914,RG - Campo Atletica,36.917119,14.734022
1,61991a7e0d5cc17c57670049,1908802,IT1914,RG - Villa Archiemede,36.926331,14.714509
2,61991a7e0d5cc17c5767004a,1908805,IT1914,Pozzallo,36.729474,14.838651
3,61991a7e0d5cc17c5767004b,1908519,IT1914,Gela - Ex Autoparco,37.055867,14.297144
4,61991a7e0d5cc17c5767004c,17,IT1914,Gela - Tribunale,37.065105,14.261254
5,61991a7e0d5cc17c5767004d,1908501,IT1914,Gela - Enimed,37.062217,14.284218
6,61991a7e0d5cc17c5767004e,1908513,IT1914,Gela - Via Venezia,37.070349,14.253618
7,61991a7e0d5cc17c5767004f,1908521,IT1914,Gela - Capo Soprano,37.075693,14.223844
8,61991a7e0d5cc17c57670050,1908520,IT1914,Gela - Biviere,37.022486,14.344965
9,61991a7e0d5cc17c57670051,1908512,IT1914,Niscemi,37.145943,14.395552
10,61991a7e0d5cc17c5767005c,1908901,IT1914,Augusta,37.218400,15.220500
11,61991a7e0d5cc17c5767005d,1908964,IT1914,SR - ASP Pizzuta,37.085751,15.268014
12,61991a7e0d5cc17c5767005e,1908902,IT1914,SR - Belvedere,37.093973,15.208712
13,61991a7e0d5cc17c5767005f,1908962,IT1914,Melilli,37.182374,15.128831
14,61991a7e0d5cc17c57670060,1908963,IT1914,Priolo,37.156119,15.190867
15,61991a7e0d5cc17c57670061,1908965,IT1914,SR - Pantheon,37.067768,15.285331
16,61991a7e0d5cc17c57670062,1908967,IT1914,SR - Teracati,37.075831,15.278581
17,61991a7e0d5cc17c57670063,44,IT1914,Solarino,37.096276,15.131752
18,61991a7e0d5cc17c57670064,1908910,IT1914,SR - Via Gela,37.098447,15.262506
19,61991a7e0d5cc17c57670065,1908966,IT1914,SR - Verga,37.091295,15.285297
20,61991a7e0d5cc17c57670069,102,IT1914,Gela Pontile,37.070349,14.253618
21,61991a7e0d5cc17c5767006a,110,IT1914,Augusta Contrada Marcellino,37.221026,15.169058
22,61991a7e0d5cc17c5767006b,1908971,IT1914,Augusta Megara,37.194600,15.182900
23,61991a7e0d5cc17c5767006c,112,IT1914,Augusta Villa Augusta,37.221026,15.169058
24,61991a7e0d5cc17c5767006d,1908517,IT1914,Parcheggio AGIP,37.059610,14.265080

Creazione della collection relativa

In [10]:
cursor = db.a2018.aggregate(
    [
      { '$unionWith': { 'coll': "a2019"} },
      {
         '$lookup':
           {
             'from': 'stazione',
             'localField': "stazione_id",
             'foreignField': "stazione_id",
             'as': "stazione_info"
           }
      },
      {
            '$match': {
                'stazione_info.stazione_longitudine': { '$gte' : long } ,
                'stazione_info.stazione_latitudine': { '$lte' : lat },
                'misura_valore': {'$gt': 0}
            }
      },
      {
          '$group': {
              '_id': {'stazione_id': '$stazione_id', 'inquinante_id': '$inquinante_id',},
              'misure': { '$push': '$misura_valore' },
          }
      },
      { 
        '$project': {
            '_id': 1, 
            "median": { '$arrayElemAt': ["$misure", {'$floor': {'$multiply': [0.5, {'$size': "$misure"} ] } }]},
        }
      },
      { 
          "$group" : {
            "_id" : "$_id.stazione_id", 
            "inquinanti" : {"$push" : {"k" : "$_id.inquinante_id", "v" : "$median"}}
          }
      },
      { "$project" : {"stazione_id" : "$_id","_id" : 0, "inquinanti" : { "$arrayToObject" : "$inquinanti" }}},
      { "$project" : {'stazione_id': 1, "inquinante_pm10" : "$inquinanti.5", "inquinante_pm2_5" : "$inquinanti.6001"}},
      {'$sort': {'inquinante_pm2_5':-1, 'inquinante_pm10':-1}},
    ]
)

pd.DataFrame(cursor)

   stazione_id  inquinante_pm10  inquinante_pm2_5
0      1908967        42.200001              28.0
1      1908962        18.700001              12.0
2      1908513        19.700001              11.2
3      1908963         7.300000              11.2
4      1908910        21.400000               9.9
5      1908965        23.700001               7.4
6      1908901        16.200001               6.6
7      1908966        10.000000               5.3
8      1908512        27.100000               NaN
9      1908520        14.200000               NaN
10     1908501         7.300000               NaN
11     1908902         3.000000               NaN

In [11]:
cursor = db.stazione.aggregate(
    [
      {
        '$match': {
            'stazione_longitudine': { '$gte' : long } ,
            'stazione_latitudine': { '$lte' : lat } 
        }
      },
      {
         '$lookup':
           {
             'from': 'a2018',
             'localField': "stazione_id",
             'foreignField': "stazione_id",
             'as': "misure_18"
           }
      },
      {
         '$lookup':
           {
             'from': 'a2019',
             'localField': "stazione_id",
             'foreignField': "stazione_id",
             'as': "misure_19"
           }
      },
      { '$project': { 'misure': { '$concatArrays': [ "$misure_18", "$misure_19" ] } } },
      { '$match': {'misure': {'$ne': [] } }},
      { '$unwind': '$misure' },
      { '$replaceRoot': {'newRoot': '$misure'}},
      { '$match': {'misura_valore': {'$gt': 0}}},
      {
          '$group': {
              '_id': {'stazione_id': '$stazione_id', 'inquinante_id': '$inquinante_id',},
              'misure': { '$push': '$misura_valore' },
          }
      },
      { 
        '$project': {
            '_id': 1, 
            "median": { '$arrayElemAt': ["$misure", {'$floor': {'$multiply': [0.5, {'$size': "$misure"} ] } }]},
        }
      },
      { 
          "$group" : {
            "_id" : "$_id.stazione_id", 
            "inquinanti" : {"$push" : {"k" : "$_id.inquinante_id", "v" : "$median"}}
          }
      },
      { "$project" : {"stazione_id" : "$_id","_id" : 0, "inquinanti" : { "$arrayToObject" : "$inquinanti" }}},
      { "$project" : {'stazione_id': 1, "inquinante_pm10" : "$inquinanti.5", "inquinante_pm2_5" : "$inquinanti.6001"}},
      {'$sort': {'inquinante_pm2_5':-1, 'inquinante_pm10':-1}},
    ]
)

pd.DataFrame(cursor)

   stazione_id  inquinante_pm10  inquinante_pm2_5
0      1908967        42.200001              28.0
1      1908962        18.700001              12.0
2      1908513        19.700001              11.2
3      1908963         7.300000              11.2
4      1908910        21.400000               9.9
5      1908965        23.700001               7.4
6      1908901        16.200001               6.6
7      1908966        10.000000               5.3
8      1908512        27.100000               NaN
9      1908520        14.200000               NaN
10     1908501         7.300000               NaN
11     1908902         3.000000               NaN

In [12]:
stazioniQuadrante = db.stazione.find(
    {'stazione_longitudine': { '$gte' : long} ,'stazione_latitudine': { '$lte' : lat} }, 
    {'stazione_id': 1, '_id': 0}
)
stazioniQuadrante = [obj['stazione_id'] for obj in stazioniQuadrante]

cursor = db.a2018.aggregate(
    [
      { '$unionWith': { 'coll': "a2019"} },
      {
            '$match': {
                'stazione_id': {'$in': stazioniQuadrante},
                'misura_valore': {'$gt': 0}
            }
      },
      {
          '$group': {
              '_id': {'stazione_id': '$stazione_id', 'inquinante_id': '$inquinante_id',},
              'misure': { '$push': '$misura_valore' },
          }
      },
      { 
        '$project': {
            '_id': 1, 
            "median": { '$arrayElemAt': ["$misure", {'$floor': {'$multiply': [0.5, {'$size': "$misure"} ] } }]},
        }
      },
      { 
          "$group" : {
            "_id" : "$_id.stazione_id", 
            "inquinanti" : {"$push" : {"k" : "$_id.inquinante_id", "v" : "$median"}}
          }
      },
      { "$project" : {"stazione_id" : "$_id","_id" : 0, "inquinanti" : { "$arrayToObject" : "$inquinanti" }}},
      { "$project" : {'stazione_id': 1, "inquinante_pm10" : "$inquinanti.5", "inquinante_pm2_5" : "$inquinanti.6001"}},
      {'$sort': {'inquinante_pm2_5':-1, 'inquinante_pm10':-1}},
    ]
)

measureWithMedian = [e for e in cursor]

pd.DataFrame(measureWithMedian)

   stazione_id  inquinante_pm10  inquinante_pm2_5
0      1908967        42.200001              28.0
1      1908962        18.700001              12.0
2      1908513        19.700001              11.2
3      1908963         7.300000              11.2
4      1908910        21.400000               9.9
5      1908965        23.700001               7.4
6      1908901        16.200001               6.6
7      1908966        10.000000               5.3
8      1908512        27.100000               NaN
9      1908520        14.200000               NaN
10     1908501         7.300000               NaN
11     1908902         3.000000               NaN

Close connection

In [13]:
measurePM10 = sorted([{'stazione_id': e['stazione_id'], 'inquinante_pm10': e.get('inquinante_pm10', -1)} for e in measureWithMedian], key=lambda item: item['inquinante_pm10'], reverse=True)

pd.DataFrame(measurePM10).head(2)

  stazione_id  inquinante_pm10
0     1908967        42.200001
1     1908512        27.100000

In [14]:
measurePM2_5 = sorted([{'stazione_id': e['stazione_id'], 'inquinante_pm2_5': e.get('inquinante_pm2_5', -1)} for e in measureWithMedian], key=lambda item: item['inquinante_pm2_5'], reverse=True)

pd.DataFrame(measurePM2_5).head(2)

  stazione_id  inquinante_pm2_5
0     1908967              28.0
1     1908962              12.0

In [15]:
cursor.close()
client.close()